<h1>Add New Skill</h1>
<form action="/skills" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="proficiency">Proficiency:</label>
  <input type="text" id="proficiency" name="proficiency">
  <button type="submit">Create</button>
</form>
