<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to<%= title %></h1>
    <p>You can add and view skills here.</p>
    <a href="/skills/new">Add Skill</a>
    <a href="./skills">Current Skills</a>
  </body>
</html>
