body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.table {
  width: 50%;
}

#title {
  color: black; 
  text-align: center;
}

#desc {
  color: black; 
  text-align: center;
}
